/*------------------------------------*\
    RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0b1 | 201101 
    NOTE:WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
    display:block;
}
body{
    line-height:1;
}
ol,ul{
    list-style:none;
}
blockquote,q{
    quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
    content:’’;
    content:none;
}
/* remember to define visible focus styles! 
:focus{
    outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
    text-decoration:none;
}
del{
    text-decoration:line-through;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}


/*------------------------------------*\
    $MAIN
\*------------------------------------*/

@font-face {
  font-family: Walkway;
  src: url(fonts/walkway-semibold.ttf);
}

body{
  font: 16px/1.5 "Helvetica", "Lucida Grande", "Microsoft JhengHei", sans-serif;
}

#globalHeader {height: 70px; position: relative; z-index: 100; width: 100%; font-size: 16px;}
#globalHeader:after {content: ""; display: block; clear: both;}
#globalHeader .headerWrap {width: 90%; margin: 0 auto; position: relative; max-width: 1024px;}
@media screen and (max-width : 1060px){
	#globalHeader .headerWrap {width: 100%;}
  #globalHeader {height: 99px;}
}

#siteName {z-index: 1001; top: 0; left: 0; margin: 0; position: absolute; width: 130px;}
#siteName a {padding: 15px 0; display: block; line-height: 1;}
#siteName img {width: 100%;}
@media screen and (max-width : 1060px){
	#siteName {z-index: 20; text-align: center; width: 100%;}
	#siteName a {padding: 7px 0; display: inline-block;}
	#siteName img {width: 145px; vertical-align: top; padding: 17px; border: 0;}
}


#hGlobalNav h1 {display: none;}
@media screen and (max-width : 1060px){
	#hGlobalNav {z-index: 1001;}
	#hGlobalNav h1 {display: block; background: url(../img/menu_b.png) no-repeat center center; text-indent: -9999px; background-size: 20px 15px; position: absolute; top: 27px; left: 0; padding: 15px; margin: 0 0 0 3.5%; cursor: pointer; width: 20px; height: 15px; z-index: 1001;}
}
@media screen and (max-width : 480px){
	#hGlobalNav h1 {margin-left: 2%;}
}

#hGlobalNav .wrapper {
	display: block; background: none; height: auto; width: 100%; padding: 0;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	left: 0;
}

@media screen and (max-width : 1060px){
	#globalHeader .wrapper {background: rgba(107,85,85,.8); position: fixed; z-index: 1000; width: 100%; height: 100%; color: #fff; font-size: 16px; padding: 0; box-sizing: border-box; display: none;}
}

#globalHeader .wrapper ul {padding-left: 15%; margin: 0; float:right;}
#globalHeader .wrapper li {list-style: none; float: left; font-size: 13px; padding: 33px 10px; line-height: 1;}
#globalHeader .wrapper li.home {display: none; color: #333;}
#globalHeader .wrapper li a {border: 0; display: block; border-left: 1px solid #6b5555; padding-left:20px;}
.ua-ie-8 #globalHeader .wrapper li a,
.ua-ie-9 #globalHeader .wrapper li a {font-weight: bold;}
#globalHeader .wrapper li a:hover {color: #efd3d0;}
#globalHeader .cancel {display: none;}
@media screen and (max-width : 1060px){
	#globalHeader .wrapper ul {padding: 0; float:none;}
	#globalHeader .wrapper li {float: none; font-size: 16px; padding: 0; text-align: center;}
	#globalHeader .wrapper li a {padding: 12px 20px; color: #fff;}
	#globalHeader .cancel {display: block; text-align: right; padding: 18px 18px 0;}
	#globalHeader .cancel:before {content: url("../img/icon_close.png"); margin-right: 5px;}
}


a{
  text-decoration: none;
  color: #6b5555;  
}


/* menu open, search open */

@media screen and (max-width : 1060px){
	body.menuOpen #hGlobalNav .wrapper,
	body.searchOpen #hSearch .wrapper {display: block;}
	body.menuOpen #main,
	body.menuOpen #hGlobalNav h1,
	body.menuOpen #siteName img,
	body.menuOpen #hSearch h1,
	body.searchOpen #main,
	body.searchOpen #hGlobalNav h1,
	body.searchOpen #siteName img,
	body.searchOpen #hSearch h1 {-webkit-filter: blur(5px); filter: blur(5px);}
}

ul {list-style: none; padding: 0;}
ul:after,
section:after {content: ''; clear: both; display: block;}

#main ul {
	margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-bottom: 15px;}

#main img {width: 100%;}
#mainCampaign .mainPanel,
#mainCampaign .mainPanel img {width: 100%; display: block; max-width: 1024px; height: auto; font-size: 21px; position: relative;}
#mainCampaign .fourPanels li {width: 23.5%; max-width: 245px; height: auto;}
#mainCampaign .threePanels li {width: 32%; max-width: 327px; height: auto;}
#mainCampaign .twoPanels li {width: 49%; max-width: 501px; height: auto;}
#mainCampaign ul li:last-child {margin-right: 0;}
#mainCampaign ul li {margin-bottom: 20px; position: relative; box-sizing: border-box; margin: 20px 2% 0 0;}

.fourPanels .title{
  opacity: 0;
}

.fourPanels a:hover img{
  opacity: 0.5;
  transition: 0.7s ease;  
}

.fourPanels a:hover .title{
  opacity: 1;
  transition: 0.7s ease;
}

.twoPanels .otherRings{
  border-box:outline;
  border:1px solid #EFD3D0
}

.twoPanels .otherRings:hover;{
  border:1px solid #6b5555
}

@media screen and (max-width: 920px) {
	#mainCampaign .fourPanels li,
	#mainCampaign .twoPanels li {width: 49%; max-width: 501px; height: auto;}
	#mainCampaign .fourPanels li:nth-child(2n),
	#mainCampaign .twoPanels li:nth-child(2n) {margin-right: 0;}

  #main #product {background: #f7f7f7; padding: 20px 0 0;}
  #main #product li {width: 23.5%; height: auto; border-bottom: 1px solid #eee;}
  #main #product li:nth-child(6n) {margin-right: 2%;}
  #main #product li:nth-child(4n) {margin-right: 0;}
  #sale li {text-align: center;}
  #sale img {float: none; margin-right: 0;}
  #sale span.desc {display: block; width: 100%;}
}

@media screen and (max-width: 480px){
	#mainCampaign .mainPanel img.pc {display: none;}
	#mainCampaign .mainPanel img.mobile {display: block;}
	#mainCampaign .fourPanels li,
	#mainCampaign .threePanels li,
	#mainCampaign .twoPanels li {width: 100%; height: auto; margin-right: 0; max-width: 100%;}
  #main #product li {width: 32%; height: auto; margin-bottom: 5px;}
  #main #product li:nth-child(4n) {margin-right: 2%;}
  #main #product li:nth-child(3n) {margin-right: 0;}
  #main #lab .title,
  #main #houseVision .title {font-size: 16px;}
  blockquote  {top: 60px;}
	#main #event li:nth-child(2),
	#main #event li:nth-child(3) {display: none;}
	#mainCampaign .wrap,
	#event .wrap,
	#lab .wrap,
	#houseVision .wrap,
	.shopWrap {width: 100%;}
	#mainCampaign ul li,
	#lab ul li,
	#houseVision ul li {margin: 3px 0 0 0;}
	#sale li {padding: 0 10px;}
	.more {padding-right: 25px;}
	.more a:after {margin: -5px 0 0 0;}
	#main #newItem span.thumb,
	#main #topicItem span.thumb {padding: 10px;}
	#lab .ideaPark .text {top: 80px;}

  #map {width: 100%; height: 162px;}
  #mapMask {height: 162px;}
  #mapMask.getGeolocation {width: 100%;}
  #shoplist ul.shops {max-height: 250px;}
  #search_combobox {top: 0; left: 0; margin-bottom: 10px; padding-left: 5%;}
  #shoplist {width: 90%; float: none; margin: 0 auto; display: none;}
  #map.getGeolocation {width: 100%;}
  #shoplist ul.shops li.entry {padding: 10px 0; width: 100%; font-size: 12px; float: none;}
  #misc .youtube a img {height: 20px; margin-top: 0;}
}

.wrap {
	width: 90%;
	overflow: hidden;
	max-width: 1024px;
	margin: 0 auto;
	-webkit-transform: translateZ(0); /* Optional: When heavy at iOS6+ */
}

#main section{
  width: 100%;
  margin-bottom: 40px;
  padding: 0;
}

footer .copyright {
  display: inline-block;
  float: left;
  padding: 10px 20px 10px 0;
  color: #888;
  font-size:80%;
}

footer #copyright {
  border-top: 1px solid #bbb1b1;
  color: #bbb1b1;
  width: 90%;
  margin: 0 auto;
  text-align: left;
  max-width: 1024px;
}

footer {
  line-height: 1;
  width: 100%;
  font-size: 14px;
  padding: 0;
}

footer ::after {
  content: "";
  display: block;
  clear: both;
}

#mainCampaign .mainPanel, #mainCampaign .mainPanel img {
    width: 100%;
    display: block;
    max-width: 1024px;
    height: auto;
    font-size: 21px;
    position: relative;
}

#mainCampaign .title{
  font-family:'Montserrat', sans-serif;
  font-size:20px;
  position: absolute;
  bottom:20px;
  left: 20px;
  text-align:center;
  z-index: 2;
  text-shadow: 1px 1px 3px rgba(0,0,0,.5);
  font-weight: bold;
  color: #fff;
}

@media screen and (min-width: 481px) {
	#mainCampaign .mainPanel img.pc {display: block;}
	#mainCampaign .mainPanel img.mobile {display: none;}
}

@media screen and (max-width: 480px){
	#mainCampaign .mainPanel img.pc {display: none;}
	#mainCampaign .mainPanel img.mobile {display: block;}
  #mainCampaign .wrap {width:100%;}
}

#navBar .topicPath{
  font-size:0.75em;
  margin-top:15px;
}

#navBar .topicPath li{
  padding-right:8px;
}

#navBar .topicPath li a{
  padding-right:8px;  
}

#intro .textBox{
  position:absolute;
  top:81px;
  left:36px;
  color:#6b5555;
  font-family:"ヒラギノ明朝 Pro W6","Hiragino Mincho Pro","Hiragino Mincho ProN","ＭＳ Ｐ明朝",serif;
}

#intro h1{
  font-size:2.5em;
}

#intro p.englishHeading{
  color:#efb7b1;
  font-family: 'Times New Roman',serif;
  letter-spacing:0.1em;
}

#intro .textBox .slogan{
  margin-top:1em;
  font-size:1.1em;
}

